* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar style */

.navbar {
  position: fixed;
  width: 100%;
  background-color: #030303;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  z-index: 3;
}

.logo img {
  width: 60px;
  height: 60px;
}

.nav-title {
  margin-left: 20px;
}

.nav-title h1 {
  font-size: 25px;
  text-transform: uppercase;
  color: white;
}

.nav-items {
  flex-grow: 1; /* Allow the navigation items to take up remaining space */
  text-align: right; /* Align the items to the right */
}

.nav-items ul {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.nav-items ul li {
  display: inline-block; /* Display items in a line */
  margin-left: 20px; /* Add margin between navigation items */
  font-size: 20px;
  text-transform: uppercase;
}
.nav-items a {
  color: white;
  text-decoration: none;
}

/* navbar small screen style */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    padding-top: 0px;
  }

  .nav-items {
    text-align: center;
    margin-top: 5px;
  }
  .nav-items ul li {
    font-size: 10px;
    display: block;
    margin: 5px 0;
  }
  .nav-title h1 {
    font-size: 12px;
  }
}

.homepage-container {
  width: 100%;
  height: 100%;
}
.homepage-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 90px;
}

.homepage-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.homepage-text {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.text-left {
  background-color: #272626;
  width: 100%;
  height: 50vh;
  display: block;
}
.text-left h1 {
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  width: 30px;
}
.text-left p {
  padding-left: 20px;
  color: rgb(121, 116, 116);
}

.text-right {
  background: rgb(72, 52, 52);
  width: 100%;
  height: 50vh;
  display: block;
}

.text-right h1 {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  width: 30rem;
}
.text-right p {
  color: rgb(121, 116, 116);
  padding-left: 20px;
  padding-top: 10px;
  width: 40rem;
}

/* hompage style for small screens */

@media screen and (max-width: 768px) {
  .homepage-container {
    flex-direction: block;
  }
  .homepage-text {
    flex-direction: column;
  }

  .homepage-image img {
    width: 100%;
    padding-top: 20px;
  }

  .text-left,
  .text-right {
    height: 30vh;
  }

  .text-left h1,
  .text-left p,
  .text-right h1,
  .text-right p {
    width: auto; /* Reset width */
    padding: 10px; /* Add padding */
    text-align: center; /* Center-align text */
  }

  .text-left h1,
  .text-right h1 {
    font-size: 12px;
  }

  .text-left p,
  .text-right p {
    font-size: 10px;
  }
}

/* style for contact page */

.contacts-container {
  display: flex;
}

.contact-left {
  width: 100%;
  height: 150vh;
  background-color: aliceblue;
}
.contact-right {
  width: 100%;
  height: 150vh;
  background-color: rgb(70, 67, 67);
  padding-top: 110px;
}
.contact-right h1 {
  color: white;
  padding-top: 40px;
  padding-left: 40px;
}

.contact-left-text {
  padding-top: 150px;
  padding-left: 40px;
}
.contact-left-text p {
  width: 80%;
}

.form-container form {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 20px;
}
.input-field input {
  display: block;
  background-color: rgb(70, 67, 67);
  border: none;
  padding: 30px;
}

/* small screen style for contact form */

@media screen and (max-width: 768px) {
  .contacts-container {
    flex-direction: column;
  }
}

.input-field input::placeholder {
  color: rgb(134, 132, 132);
}

.form-container button {
  margin-top: 10px;
  background-color: rgb(117, 117, 123);
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}
.form-container button:hover {
  background-color: aliceblue;
  color: #030303;
}

.input-field textarea {
  margin-top: 15px;
  background-color: rgb(70, 67, 67);
  width: 100%;
  height: 250px; /* Set the desired height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* Disable resizing */
  color: white;
}

/* style for fleet component */

.fleet-container {
  position: relative;
  top: 10rem;
  z-index: 2;
}

.fleet-title {
  text-align: center;
}
.fleet-title h1 {
  margin-bottom: 20px; /* Add some space between the heading and paragraph */
}

.fleet-title p {
  max-width: 700px; /* Set the maximum width to 50px */
  margin: 0 auto; /* Center the paragraph horizontally */
}
.fleet-images {
  margin-top: 20px;
  text-align: center;
}

.fleet-images p {
  text-transform: uppercase;
  font-size: 20px;
  color: #3f3a3a;
}
.fleet-images img {
  margin: 10px;
  width: 300px;
  border-radius: 5px;
}

/* style for about page */

.about-container {
  position: relative;
  justify-content: center;
  top: 6rem;
  width: 100%;
}

.about-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.about-right {
  padding: 60px;
  width: 100%;
  height: 100vh;
  background-color: #3d3b3b;
  color: white;
}

.about-right h5 {
  color: #a39595;
  font-size: 20px;
  margin-top: 10px;
  font-weight: lighter;
}

.about-right p {
  margin-top: 10px;
  color: #a39595;
  font-size: 15px;

}

.about-left {
  padding: 80px;
  width: 100%;
  height: 100vh;
  background: white;
}
.about-left h3 {
  color: #9f8e8e;
  font-weight: lighter;
  font-size: 30px;
 
}
.about-left p {
  color: #9f8e8e;
  margin-top: 10px;

 
}

.about-image{
  width: 100%;
  position: relative;
}
.about-image img{
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Adjust text color as needed */
  text-align: center; /* Center the text horizontally */
  z-index: 1; /* Ensure text appears above the image */
  font-size: 16px;
}

